html {
  min-height: 100%;    
}

body { 
  min-height: 100%;  
  display: flex;
  flex-direction: column;
}

body .container {
  min-height: 100%;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

p {
  margin-bottom: 0;
}