<a id="alertNotice"></a>
<div [hidden]="!message" class="simple-notice-container alert alert-{{type}}" role="alert">
	<div class="alert-text" [innerHTML]="message"></div>
	<button class="close" type="button" (click)="close()">
		<i class="flaticon2-cross kt-icon-sm"></i>
	</button>
</div>