div.alert {
	position: relative;
}

button.close {
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -10px;
	border: none;
	background: transparent;
}

.simple-notice-container {
	margin: 20px 2px 25px 2px;
	padding-top: 20px;
}