.kt-portlet__body {
    position: relative;    

    div.load {
        position: absolute;
        z-index: 0;

        width: auto;
        height: auto;
        left: 50%;
        margin-left: -15px;
        top: 50%;
        margin-top: -15px;
    }

    re-captcha {
        z-index: 10;
    }
}