<div class="kt-portlet">
	<div class="kt-form">
		<div class="kt-portlet__body">
			<div class="load">
				<mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
			</div>
			<re-captcha *ngIf="siteKey" (resolved)="resolved($event)" [siteKey]="siteKey">
			</re-captcha>
		</div>
	</div>
</div>