form {
  .input-group {
    margin-bottom: 3px;

    .error {
      border: 1px solid red;
    }
  }

  .form-actions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;

    * {
      margin-right: 5px;
    }
  }
}

.actions-bar {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;  

  * {
    margin-right: 5px;
  }
}

.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-30 { margin-top: 30px; }

.mat-dialog-container {
    background: white;
}

.danger {
  color: red;
}

.warning {
  color: orange;
}

.success {
  color: lightgreen;
}