<div class="login-container">

    <ng-container *ngIf="!user && isReady">
        <h3>Вы не авторизованы</h3>
        <form [formGroup]="form" method="post" action="login">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Email" formControlName="email" autocomplete="off"
                    [ngClass]="{'error': hasError(f.email)}">
            </div>
            <div class="input-group">
                <input class="form-control" type="password" placeholder="Пароль" formControlName="password"
                    [ngClass]="{'error': hasError(f.password)}">
            </div>

            <simple-notice></simple-notice>

            <div class="form-actions">
                <button class="btn btn-primary" (click)="login()">
                    Войти
                </button>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="user && isReady">
        <h3>Вы авторизованы</h3>

        <p>Email: <b>{{user.email}}</b></p>

        <div class="actions-bar">
            <button class="btn btn-primary margin-top-10" (click)="changePassword()">
                Установить пароль
            </button>

            <button class="btn btn-primary margin-top-10" (click)="logout()">
                Выйти
            </button>
        </div>
    </ng-container>
</div>