header {
  .title {
    margin-left: 50px;
    margin-top: 20px;
  }
  
  a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }

  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

  .admin-login {
    position: absolute;
    right: 1px;
    top: 1px;
    opacity: 0.15;
  }
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}