<div class="footer-container">
  <p>Адрес: г. Калуга, ул. Цветочная, д. 15</p>
  <p>Телефон: +7953-310-6713</p>
  <br>
  <p><a href="https://maps.yandex.ru/org/lichnoye_podsobnoye_khozyaystvo_koza_sedun/1522490831/">
      Расположение на Яндекс.Картах
    </a></p>
</div>